<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>TechEd 2011 - ASP.NET MVC 4 (Async)</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Lambda3", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("NOT Async", "Acao", "NotAsync")</li>
                            <li>@Html.ActionLink("OLD Async", "Acao", "OldAsync")</li>
                            <li>@Html.ActionLink("NEW Async", "Acao", "NewAsync")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2011 - Lambda3</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://www.facebook.com/pages/Lambda3/211533205541864" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com/lambdatres" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
